
@media (max-width: 900px) {
    #page-home {
        background-position: 100vh;
    }

    #page-home .content{
        align-items: center;
        text-align: center;
    }
    
    #page-home header a{
        position: absolute;
        left: 50%;
        top: 110px;
        transform: translateX(-50%);
    }
    
    #page-home main{
        align-items: center;
    }
    
}


@media (min-width: 1700px) {
    #page-home {
        background-position: 40vw;
    }
    
}

@media (max-height: 760px) {
    #page-home {
        background-position-y: 200px;
    }
} 



/* page-create-point Responsive */

@media (max-width: 450px){

    #page-create-point .items-grid {
        grid-template-columns: 1fr;
    }

    #page-create-point form{
        padding: 19px;
    }

    #page-create-point form fieldset .field, fieldset .field-group {
        display: grid;
    }

    #page-create-point form button{
        width: -webkit-fill-available;
    }
}

@media (min-width: 450px) and(max-width: 900px) {

    #page-create-point form h1{
        text-align: center;
    }

    
    #page-create-point form fieldset .field, fieldset .field-group {
        display: grid;
        
    }

    #page-create-point .items-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #page-create-point form button{
        width: -webkit-fill-available;
    }
    

}


/* Page-search-results */

@media (max-width: 900px){
    
    #page-search-results .cards {
        grid-template-columns: 1fr;
    }

    #page-search-results .cards img{
        height: 250px;
    }

}


