
@media (max-width: 900px) {
    #page-home {
        background-position: 100vh;
    }

    #page-home .content{
        align-items: center;
        text-align: center;
    }
    
    #page-home header a{
        position: absolute;
        left: 50%;
        top: 110px;
        transform: translateX(-50%);
    }
    
    #page-home main{
        align-items: center;
    }
}


@media (min-width: 1700px) {
    #page-home {
        background-position: 40vw;
    }
    
}

@media (max-height: 760px) {
    #page-home {
        background-position-y: 200px;
    }
} 

/* page-create-point Responsive */

@media (max-width: 900px) {

    #page-create-point{
        align-items: center;
        
    }
    
    #page-create-point header{
        display: block;
        text-align: center;
       
    }

    #page-create-point header a{
        position: absolute;
        left: 50%;
        top: 100px;
        transform: translateX(-50%);

    }

    #page-create-point form h2{
        font-size: 30px;
    }
     
    #page-create-point form fieldset legend h2{
        font-size: 15px;
    }

    

}


